.wrapper {
    max-width:640px;
    margin:0 auto;
}
.table-fio tbody tr:hover {
    cursor:pointer;
}
.modal-dialog {
<<<<<<< HEAD:css/style.CSS
    margin-top:100px;
}
=======
    margin-top:250px;
}
>>>>>>> refs/remotes/origin/master:css/style.css
