<!DOCTYPE html>
<html ng-app="TableApp">
<head>
    <meta charset="utf-8">
    <title>Таблица</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="src/css/style.css" rel="stylesheet">
    <script src="src/js/tableapp.js"></script>
</head>
<body>
<div class="container-fluid" ng-controller="TableController">
    <div class="wrapper">
        <div class="page-header">
            <h1>Таблица</h1>
        </div>
        <div class="input-group persons-filter">
            <span class="input-group-addon" id="filterLabel">Фильтр записей:</span>
            <input type="text" class="form-control" placeholder="Поиск..." ng-model="personsFilterQuery">
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-fio">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="person in persons | filter: personsFilterQuery track by person.id" ng-click="editPerson(person.id)">
                    <td>{{person.id}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.firstName}}</td>
                    <td>{{person.middleName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center">
            <button class="btn btn-default" type="submit" ng-click="addPerson()">Добавить запись</button>
        </p>
        <div class="modal fade" ng-class="{'in' : showModal}" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="showModal = false" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ ModalTitle }}</h4>
                    </div>
                    <div class="modal-body">
                        <form name="MyForm" class="form-horizontal">
                            <div class="form-group" ng-class="{'has-error' : !MyForm.lastname.$valid}">
                                <label for="editLastName" class="col-sm-2 control-label">Фамилия</label>

                                <div class="col-sm-10">
                                    <input name="lastname" type="text" class="form-control" id="editLastName"
                                           ng-model="bufPerson.lastName" ng-required="true" placeholder="Фамилия">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : !MyForm.firstname.$valid}">
                                <label for="editFirstName" ng-class="{}" class="col-sm-2 control-label">Имя</label>

                                <div class="col-sm-10">
                                    <input name="firstname" type="text" class="form-control" id="editFirstName"
                                           ng-model="bufPerson.firstName" ng-required="true" placeholder="Имя">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : !MyForm.middlename.$valid}">
                                <label for="editMiddleName" class="col-sm-2 control-label">Отчество</label>

                                <div class="col-sm-10">
                                    <input name="middlename" type="text" class="form-control" id="editMiddleName"
                                           ng-model="bufPerson.middleName" ng-required="true" placeholder="Отчество">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-disabled="!MyForm.$valid" ng-click="savePerson(bufPerson.id)">Сохранить изменения
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="delPerson(bufPerson.id)" ng-show="isEditing">Удалить
                            запись
                        </button>
                        <button type="button" class="btn btn-default" ng-click="showModal = false">Отмена</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <div class="modal-backdrop fade" ng-class="{'in' : showModal}" ng-show="showModal"></div>
</div>
<script src="bower_components/underscore/underscore-min.js"></script>
</body>
</html>