<!DOCTYPE html>
<html ng-app="TableApp">
<head>
    <meta charset="utf-8">
    <title>Таблица</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="src/css/style.css" rel="stylesheet">
    <script src="src/js/tableapp.js"></script>
</head>
<body>
<div class="container-fluid" ng-controller="TableController">
    <div class="wrapper">
        <div class="page-header">
            <h1>Таблица</h1>
        </div>
        <div class="input-group persons-filter">
            <span class="input-group-addon" id="filterLabel">Фильтр записей:</span>
            <input type="text" class="form-control" placeholder="Поиск..." ng-model="personsFilterQuery">
        </div>
        <div class="table-wrapper">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-fio">
                    <thead>
                    <tr>
                        <th><a href="#" ng-click="sortBy('id')">ID<span ng-class="['caret', {'caret-up' : sortReverse}]"
                                                                        ng-show="sortType==='id'"></span></a></th>
                        <th><a href="#" ng-click="sortBy('lastName')">Фамилия<span
                                ng-class="['caret', {'caret-up' : sortReverse}]" ng-show="sortType==='lastName'"></span></a>
                        </th>
                        <th><a href="#" ng-click="sortBy('firstName')">Имя</a><span
                                ng-class="['caret', {'caret-up' : sortReverse}]"
                                ng-show="sortType==='firstName'"></span>
                        </th>
                        <th><a href="#" ng-click="sortBy('middleName')">Отчество<span
                                ng-class="['caret', {'caret-up' : sortReverse}]"
                                ng-show="sortType==='middleName'"></span></a></th>
                        <th><a href="#" ng-click="sortBy('employedDate')">Дата найма<span
                                ng-class="['caret', {'caret-up' : sortReverse}]"
                                ng-show="sortType==='employedDate'"></span></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in persons | filter: personsFilterQuery | orderBy:sortType:sortReverse track by person.id"
                        ng-click="editPerson(person.id)" class="personsRow">
                        <td>{{person.id}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.firstName}}</td>
                        <td>{{person.middleName}}</td>
                        <td>{{person.employedDate | date:'dd-MM-yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-center">
            <button class="btn btn-default" type="submit" ng-click="addPerson()">Добавить запись</button>
        </p>
        {{ date}}
    </div>
</div>
<script src="bower_components/underscore/underscore-min.js"></script>
</body>
</html>