.wrapper {
    max-width:640px;
    margin:0 auto;
}
.table-fio tbody tr:hover {
    cursor:pointer;
}
.modal {
    display: block;
    z-index:-99999;
}
.modal.in {
    z-index: 1050;
}
.modal-dialog {
    margin-top:100px;
}
.persons-filter {
    margin-bottom:10px;
}